@import '../components/Zodiacs/Zodiacs.scss';
@import '../components/ZodiacById/ZodiacById.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px
}

body {
    background: rgb(76, 76, 123);
}